body {
  background-image: url('/src/assets/sa-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  /* 100% of the viewport width */
  height: 100vh;
  /* 100% of the viewport height */
  margin: 0;
  /* Remove default body margin */
  /* Other styles... */
}